# Tell-Seq Absolute Quant synDNA Calculations

### Inputs

**Enter the path to the tab-delimited text file of the current plate metadata:**

In [1]:
plate_metadata_fp = ""
# example:
# plate_metadata_fp =  './test_output/QC/YYYY_MM_DD_Celeste_Adaptation_df.txt'

**Enter the path where the syndna picklist file should be saved:**

In [2]:
output_picklist_fp = ""
# example:
# output_picklist_fp = './test_output/Input_Norm/YYYY_MM_DD_Celeste_Adaptation_16-21_syndna_2.txt'

**Enter the path where the updated plate metadata file should be saved:**

In [3]:
output_plate_fp = ""
# example:
# output_plate_fp = './test_output/tellseq/YYYY_MM_DD_Celeste_Adaptation_16-21_df_w_syndna.txt'

ONLY update the following information *IF* the values have changed:

In [4]:
syndna_pool_number = "1"
syndna_concentration = 2.22
syndna_percentage = 5

In [5]:
well_col = 'Library Well'
sample_name_key = 'Sample'

### Calculations

In [6]:
import pandas as pd
import os
from metapool.metapool import *

In [7]:
# Import and define df
plate_df = pd.read_csv(plate_metadata_fp, sep='\t')

In [8]:
# Check that plate_df looks as expected
plate_df.head()

,Unnamed: 0,Sample,Row,Col,Blank,Project Plate,Project Name,Compressed Plate Name,well_id_96,Well,...,i5 well,i5 plate,i7 name,i7 sequence,i7 well,i7 plate,MiniPico Library DNA Concentration,MiniPico Library Concentration,Input DNA,MiniPico Pooled Volume
0,0,41N.Month6.1,A,1,False,Celeste_Adaptation_12986_P16,Celeste_Adaptation_12986,Celeste_Adaptation_12986_16-21,A1,A1,...,A1,iTru5_plate,iTru7_112_12,ACGATGAC,G24,iTru7_plate,0.566,1.715152,4.999620,494.791667
1,1,41N.Month6.13,C,1,False,Celeste_Adaptation_12986_P16,Celeste_Adaptation_12986,Celeste_Adaptation_12986_16-21,B1,C1,...,A3,iTru5_plate,iTru7_113_01,CGTTATGC,I2,iTru7_plate,0.831,2.518182,4.997580,494.791667
2,2,41L.Month6.1,E,1,False,Celeste_Adaptation_12986_P16,Celeste_Adaptation_12986,Celeste_Adaptation_12986_16-21,C1,E1,...,A5,iTru5_plate,iTru7_113_02,GATACTGG,I4,iTru7_plate,1.078,3.266667,5.002105,494.791667
3,3,41L.Month6.13,G,1,False,Celeste_Adaptation_12986_P16,Celeste_Adaptation_12986,Celeste_Adaptation_12986_16-21,D1,G1,...,A7,iTru5_plate,iTru7_113_03,CTACTTGG,I6,iTru7_plate,1.023,3.100000,5.001975,494.791667
4,4,41LL.Month6.1,I,1,False,Celeste_Adaptation_12986_P16,Celeste_Adaptation_12986,Celeste_Adaptation_12986_16-21,E1,I1,...,A9,iTru5_plate,iTru7_113_04,CATACCAC,I8,iTru7_plate,1.099,3.330303,5.002920,494.791667

In [9]:
# Check that needed columns are present in file
required_cols = {sample_name_key, well_col, INPUT_DNA_KEY, NORMALIZED_DNA_VOL_KEY}
present_required_cols = required_cols.intersection(set(plate_df.columns))
if present_required_cols != required_cols:
    print("Cannot proceed because missing required columns: {}".format(
        required_cols - present_required_cols))

In [10]:
plate_df = add_syndna(plate_df,syndna_pool_number,syndna_concentration, syndna_percentage)

In [11]:
syndna_well='A1'
syndna_plate = 'synDNA plate'
syndna_picklist = format_dna_norm_picklist(np.array(plate_df[SYNDNA_VOL_KEY]),
                                           np.zeros(plate_df.shape[0]),
                                           np.repeat(syndna_well,plate_df.shape[0]),
                                           dest_wells = np.array(plate_df[well_col]),
                                           sample_names = np.array(plate_df[sample_name_key]),
                                           sample_plates = np.repeat(syndna_plate,plate_df.shape[0]))

### Outputs

In [12]:
if os.path.isfile(output_picklist_fp):
    print(f"Warning! File '{output_picklist_fp}' exists already. Do you really want to overwrite it?")

Warning! File './test_output/Input_Norm/YYYY_MM_DD_Celeste_Adaptation_16-21_syndna_2.txt' exists already. Do you really want to overwrite it?

In [13]:
# Export picklist
with open(output_picklist_fp, 'w') as f:
    f.write(syndna_picklist)
!head {output_picklist_fp}

Sample	Source Plate Name	Source Plate Type	Source Well	Concentration	Transfer Volume	Destination Plate Name	Destination Well
41N.Month6.1	synDNA plate	384PP_AQ_BP2	A1	nan	112.60405405405405	NormalizedDNA	A1
41N.Month6.13	synDNA plate	384PP_AQ_BP2	A1	nan	112.55810810810812	NormalizedDNA	C1
41L.Month6.1	synDNA plate	384PP_AQ_BP2	A1	nan	112.66002252252251	NormalizedDNA	E1
41L.Month6.13	synDNA plate	384PP_AQ_BP2	A1	nan	112.6570945945946	NormalizedDNA	G1
41LL.Month6.1	synDNA plate	384PP_AQ_BP2	A1	nan	112.67837837837838	NormalizedDNA	I1
41LL.Month6.13	synDNA plate	384PP_AQ_BP2	A1	nan	112.60979729729729	NormalizedDNA	K1
41R.Month6.1	synDNA plate	384PP_AQ_BP2	A1	nan	112.53766891891891	NormalizedDNA	M1
41R.Month6.13	synDNA plate	384PP_AQ_BP2	A1	nan	112.64594594594594	NormalizedDNA	O1
41N.Month6.2	synDNA plate	384PP_AQ_BP2	A1	nan	112.57235360360359	NormalizedDNA	A3

In [14]:
# Export plate metadata
os.makedirs(os.path.dirname(output_plate_fp), exist_ok=True)
plate_df.to_csv(output_plate_fp, sep='\t', index=False)
!head {output_plate_fp}

Unnamed: 0	Sample	Row	Col	Blank	Project Plate	Project Name	Compressed Plate Name	well_id_96	Well	Sample DNA Concentration	extracted_gdna_concentration_ng_ul	Diluted	Library Well	contains_replicates	Normalized DNA volume	Normalized water volume	syndna_pool_number	index	index combo	index combo seq	i5 name	i5 sequence	i5 well	i5 plate	i7 name	i7 sequence	i7 well	i7 plate	MiniPico Library DNA Concentration	MiniPico Library Concentration	Input DNA	MiniPico Pooled Volume	synDNA volume	mass_syndna_input_ng
0	41N.Month6.1	A	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	A1	A1	2.472	2.472	False	A1	False	2022.5	1477.5	1	54912	54912	ACCGACAAACGATGAC	iTru5_01_A	ACCGACAA	A1	iTru5_plate	iTru7_112_12	ACGATGAC	G24	iTru7_plate	0.566	1.715151515151515	4.99962	494.7916666666667	112.60405405405405	0.249981
1	41N.Month6.13	C	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	B1	C1	2.282	2.282	False	C1	False	2190.0	1310.0	1	54913	54913	CTTCGCAACGTTATGC	iTru5_02_A	CTTCGCAA	A3	iTru5_plate	iTru7_113_01	CGTTATGC	I2	iTru7_plate	0.831	2.518181818181818	4.99758	494.7916666666667	112.55810810810812	0.24987900000000002
2	41L.Month6.1	E	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	C1	E1	2.206	2.206	False	E1	False	2267.5	1232.5	1	54914	54914	AACACCACGATACTGG	iTru5_03_A	AACACCAC	A5	iTru5_plate	iTru7_113_02	GATACTGG	I4	iTru7_plate	1.078	3.266666666666667	5.002104999999999	494.7916666666667	112.66002252252251	0.25010525
3	41L.Month6.13	G	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	D1	G1	2.585	2.585	False	G1	False	1935.0	1565.0	1	54915	54915	CGTATCTCCTACTTGG	iTru5_04_A	CGTATCTC	A7	iTru5_plate	iTru7_113_03	CTACTTGG	I6	iTru7_plate	1.023	3.1	5.001975000000001	494.7916666666667	112.6570945945946	0.25009875000000004
4	41LL.Month6.1	I	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	E1	I1	3.207	3.207	False	I1	False	1560.0	1940.0	1	54916	54916	GGTACGAACATACCAC	iTru5_05_A	GGTACGAA	A9	iTru5_plate	iTru7_113_04	CATACCAC	I8	iTru7_plate	1.099	3.33030303030303	5.0029200000000005	494.7916666666667	112.67837837837838	0.25014600000000003
5	41LL.Month6.13	K	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	F1	K1	2.985	2.985	False	K1	False	1675.0	1825.0	1	54917	54917	CGATCGATACATTGCG	iTru5_06_A	CGATCGAT	A11	iTru5_plate	iTru7_113_05	ACATTGCG	I10	iTru7_plate	1.056	3.2	4.999875	494.7916666666667	112.60979729729729	0.24999375000000001
6	41R.Month6.1	M	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	G1	M1	3.851	3.851	False	M1	False	1297.5	2202.5	1	54918	54918	AAGACACCTGATCGGA	iTru5_07_A	AAGACACC	A13	iTru5_plate	iTru7_113_06	TGATCGGA	I12	iTru7_plate	1.22	3.696969696969697	4.9966725	494.7916666666667	112.53766891891891	0.249833625
7	41R.Month6.13	O	1	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	H1	O1	3.368	3.368	False	O1	False	1485.0	2015.0	1	54919	54919	CATCTGCTAAGTGTCG	iTru5_08_A	CATCTGCT	A15	iTru5_plate	iTru7_113_07	AAGTGTCG	I14	iTru7_plate	1.139	3.451515151515151	5.00148	494.7916666666667	112.64594594594594	0.250074
8	41N.Month6.2	A	3	False	Celeste_Adaptation_12986_P16	Celeste_Adaptation_12986	Celeste_Adaptation_12986_16-21	A2	A3	2.735	2.735	False	A3	False	1827.5	1672.5	1	54920	54920	CTCTCAGAGAACGCTT	iTru5_09_A	CTCTCAGA	A17	iTru5_plate	iTru7_113_08	GAACGCTT	I16	iTru7_plate	0.68	2.060606060606061	4.998212499999999	494.7916666666667	112.57235360360359	0.24991062499999997